In [3]:
#import important library
import pandas as pd
import numpy as np
from scipy import stats 
import math

# Super Market example

In [ ]:
Example: Supermarket Loyalty Program
    
A supermarket plans to launch a loyalty program if it results in an average spending per shopper of more than $120 per week.

A random sample of 80 shoppers enrolled in the pilot program spent an average of $130 in a week with a standard deviation of $40
Should the loyalty program be launched

In [10]:
#Given Data 
Sample_mean = 130
test_mean = 120
n = 80
standard_deviation  = 40

# Calculate the Test Statistic

'''From here we can understand that we have to use one side t tail test.

#State the Hypotheses statement:
H0: average spending per shopper is equal to $120 per week 
Ha: average spending per shopper is more than $120 per week'''

t_value = (130-120)/ (40/math.sqrt(80)

In [14]:
t_value

2.23606797749979

In [15]:
stats.t.cdf(2.23,df=79)

0.9857070911974259

In [17]:
Here probability value is greater than alpha value so that null hypothesis will accept.

SyntaxError: invalid syntax (9982579.py, line 1)

# One tail test

In [16]:
data=pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [20]:
#This gives two tail test p value so divide by 2 to get final p-value
p=stats.ttest_1samp(data,0.3)[1]
p_value= p/2

In [21]:
p_value

0.029265164842448826

# Two Tail test

In [22]:
Control=pd.Series([91, 87, 99, 77, 88, 91])
Treat =pd.Series([101, 110, 103, 93, 99, 104])

In [24]:
stats.ttest_ind( Control,Treat)

TtestResult(statistic=-3.4456126735364876, pvalue=0.006272124350809803, df=10.0)